<div class="col-md-6 col-md-offset-3 panel panel-default">
  <div class="panel-body">

	<h1>Editing property</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @property %> |
	<%= link_to 'Back', properties_path %>

  </div>
</div>
