<div class="col-md-6 col-md-offset-3 panel panel-default">
  <div class="panel-body">

	<h1>Editing unit</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @unit %> |
	<%= link_to 'Back', units_path %>

  </div>
</div>
